## 1. Explain the key features of the Python that makes it a popular choices after programming?

#### a. Readable and simple: 
~Python syntax is designed to be easy to read and understand, the use of identation for code blocks instead of braces enhances readiability and reduces the chances of errors.

#### b. Dynamic Typing: 
~Python allows to assign different data type to vaiables at runtime, that making it more flexible compared to satistically typed languages.

#### c. Versatility: 
~ Wide Range of Applications: Python is used in web development, data analysis, artificial intelligence, scientific computing, automation, and more.

~ Python can easily integrate with other languages like C, C++, and Java, and it also works well with various technologies and platforms.

## 2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

##### ~Keywords are predefined words in python that have a specific meaning and specific purpose. Keywords cannot be used as variable/identifier/class name.

In [8]:
help ("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

#### Role & Uses :

#### "if": Used for conditional statements to execute code based on a condition. The block of code under if executes only if the condition is True.

In [13]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

#### "if-else": excute the "if" block if condition is true else excute the "else" block.

In [14]:
weather = "sunny"
if weather == "sunny":
           print ("I will play cricket")
else: 
    print("I will watch movie")

I will play cricket

#### "elif": statement is used in conjunction with if and else statements to handle multiple conditions.

In [25]:
a=10
if a>100:
    print("This block will be executed if a is lesser than 100")
elif a<100:
    print("This block will be executed if a is lesser than 100")
else:
    print("The number is equals to 100")

This block will be executed if a is lesser than 100

#### "for": Used to iterate over a sequence (such as a list, tuple, or range). In the example, it prints numbers from 0 to 4.

In [21]:
for i in range(5):
    print(i)

0
1
2
3
4

#### "while": Used to create a loop that continues as long as a condition is True. Here, the loop runs until count reaches 5.

In [22]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

#### "continue": Used to skip the iteration.

In [9]:
n = 8
i = 2
while i < n:
    i= i+1
    if i==5:
        continue
    print(i)
else:
    print( "this will be executed successfully when the while is run successfully without any break" )

3
4
6
7
8
this will be executed successfully when the while is run successfully without any break

## 3. Compare and contrast mutable and immutable objects in Python with examples.

#### Mutable object:
Mutable objects can be modified after creation. Example include list, dictionary and set.

### Characteristics:

Changeable: You can modify the contents or state of the object without changing its identity.

Examples: Lists, dictionaries, sets.

#### List:

In [36]:
my_list=[1,2,3,2.6,"Raj"]
my_list                                          # Changing the first element
my_list[0] = 100

In [34]:
my_list

[100, 2, 3, 2.6, 'Raj']

#### Dictionaries:

In [37]:
my_dict = {'key1': 'value1', 'key2': 'value2'}
my_dict['key1'] = 'new_value'               # Changing the value associated with 'key1'
print(my_dict)

{'key1': 'new_value', 'key2': 'value2'}

### Immutable Objects:

##### Immutable objects are those whose value or state cannot be changed after they have been created.

#### Characteristics:
Unchangeable: Any modification to the object results in the creation of a new object.

Examples: Strings, tuples, integers, floats.

#### Strings:

In [38]:
my_string = "hello"
new_string = my_string.upper()   # Creates a new string with uppercased characters
print(my_string)                
print(new_string)

hello
HELLO

#### Tuples:

In [40]:
my_tuple = (1, 2, 3)
new_tuple = my_tuple + (4, 5)    # Concatenates and creates a new tuple
print(my_tuple)                  
print(new_tuple)

(1, 2, 3)
(1, 2, 3, 4, 5)

#### Integers:

In [41]:
a = 10
b = a + 5       # Creates a new integer object
print(a)        
print(b)

10
15

## 4. Discuss the different types of operator in Python and provide example of how they are used.

#### Python has several types of operators, including:

### (a)- Arithmetic Operators:
For mathematical calculations

- Addition: a + b
- Subtraction: a - b
- Multiplication: a * b
- Division: a / b
- Modulus (remainder): a % b
- Exponentiation: a ** b

In [2]:
x = 3
y = 7
print(x+y)

10

### (b)- Comparison Operators:
For evaluating conditions.
​
​
​
- Equal: a == b
- Not Equal: a != b
- Greater Than: a > b
- Less Than: a < b
- Greater Than or Equal: a >= b
- Less Than or Equal: a <= b
​

In [3]:
x = 3
y = 7
print(x<y)

True

### (c)- Logical Operators:
For combining conditions.


- And: a and b
- Or: a or b
- Not: not a

In [4]:
x = True
y = False
print(x and y)

False

### (d)- Assignment Operators:
For assigning values.


- Assign: a = b
- Add and Assign: a += b
- Subtract and Assign: a -= b
- Multiply and Assign: a *= b
- Divide and Assign: a /= b

In [5]:
x = 5
x += 8
print(x)

13

### (e)- Membership Operators:
For checking presence in sequences.


- In: a in b
- Not In: a not in b

In [6]:
x = [1,2,3]
y = 3
print(y in x)

True

### (f)- Identity Operators:
For comparing object identities.

- Is: a is b
- Is Not: a is not b

In [7]:
x = [1,2,3]
y = x
print(x is y)

True

## 5. Explain the concept of type casting in python with examples.

#### Type casting/type conversion: 
In Python refers to the process of converting a value from one data type to another. This is useful when you need to perform operations that require specific data types or when you need to convert data to match the requirements of a particular function or operation.

### Implicit Type Casting:
Automatic Type Conversion: Python automatically converts data types when necessary, without explicit instructions from the programmer.

In [47]:
x = 11           # int
y = 8.0          # float
result = x + y  # Implicitly converts x to float before addition
print(result)   
type(result)

19.0

float

#### Explanation: 
Here, x (an integer) is implicitly converted to a float during the addition operation with y (a float), resulting in a float.

### Explicit Type Casting:
Mannual Type conversion: This involves using built-in functions to explicitly convert a value from one type to another. This is useful when you want to control the conversion process.

#### Functions:

int(): Converts a value to an integer.

float(): Converts a value to a float.

str(): Converts a value to a string.

bool(): Converts a value to a boolean.

In [16]:
string_number="98"                       
integer_number=int(string_number)      #string converted to integer
type(integer_number)

int

In [3]:
integer_number=87
a=str("integer_number")                 #integer converted to string
type(a)

str

In [12]:
a= True
integer_value=int(a)                     #boolean converted to int
type(integer_value)

int

In [13]:
integer_value=89
boolean=bool(integer_value)             #interger converted to boolean
type(boolean)

bool

### 6. How do conditional statements work in python? Illustrate with examples.

### Conditional statements:
It allows you to excute different code blocks based on specific conditions, Python uses the if, else, elif keywords for this purpose.

In [48]:
weather = "sunny"
if weather == "sunny":
           print ("I will play cricket")
else: 
    print("I will watch movie")

I will play cricket

In [49]:
age= 21
if age >=21:
    print("Go marry and ruin your life")
else:
    print("You're safe")

Go marry and ruin your life

### 7. Describe the different types of loops in python and their use case with examples.

#### Loop condition:
In Python, loops are used to execute a block of code repeatedly based on certain conditions.There are two primary types of loops in Python: "for" loops and "while" loops. Each has its own use cases and characteristics.

#### a. "for" Loop:
The 'for' loop in Python iterates over a sequence of elements (such as a list, tuple, dictionary, set, or string) and executes a block of code for each element in the sequence.

In [53]:
fruits = ['apple', 'mango', 'banana']
for fruit in fruits:
    print(fruit)

apple
mango
banana

In [52]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: a, Value: 1
Key: b, Value: 2
Key: c, Value: 3

#### b. "while" Loop:
The 'while' loop repeatedly executes a block of code as long as a specified condition is 'True'. The loop will terminate when the condition becomes 'False'.

In [55]:
count = 5
while count > 0:
    print(count)
    count -= 1
# Output:
# 5
# 4
# 3
# 2
# 1

5
4
3
2
1

In [ ]:
while True:
    user_input = input("Enter 'exit' to quit: ")
    if user_input == 'exit':
        break
# This loop will continue until the user enters 'exit'